# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
**/node_modules/
.pnp.*
.pnp.js

# Build output
dist/
dist-ssr/
build/
**/dist/
**/build/

# Framework-specific
.next/
.turbo/

# Env files
.env
.env.*
.env.local
.env.development.local
.env.production.local
.env.test.local

# IDE/editor
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
